@media only screen and (min-width: 64em) {
    main {
        grid-template-columns: repeat(3, 1fr);
        /* 3 colunas em telas desktop */
        gap: 2rem;
    }

    h1 {
        font-size: 2.5rem;
    }
}