/* Estilos globais e reset [cite: 85] */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Acme, Arial, sans-serif;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

main {
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 1rem;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.input {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

input,
button {
    padding: 0.5rem;
}

button {
    cursor: pointer;
}

.delete {
    width: fit-content;
    margin-left: 1rem;
}

ul {
    margin: 1rem 0;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    background: #eee;
    padding: 0.5rem;
    border-radius: 4px;
}

/* Responsividade conforme o guia [cite: 85] */
@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 2rem;
    }

    main {
        width: 320px;
    }
}