/* styles/contact.css */
.contact-container {
    padding: 5rem 3rem;
    background-color: var(--accent-color);
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.contact-methods {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    gap: 40px;
}

.info-box {
    background-color: var(--cta-bg-color);
    color: var(--primary-color);
    /* Texto escuro para contraste no fundo amarelo */
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    font-weight: 700;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}