#temple-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.temple-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.temple-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    margin-top: 1rem;
}

.temple-card h3 {
    color: #11047a;
    margin-bottom: 0.5rem;
}