@media only screen and (min-width: 64em) {
    #temple-cards-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    h1 {
        font-size: 2.5rem;
        text-align: center;
        margin: 1.5rem 0;
    }

    .navigation {
        flex-direction: row;
        justify-content: center;
    }

    .navigation li {
        display: block;
    }

    #menu {
        display: none;
    }
}