@media only screen and (min-width: 64em) {

    /* Position boxes over the hero image for desktop  */
    .data-section {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 280px;
    }

    .weather-section {
        position: absolute;
        bottom: 60px;
        right: 30px;
        width: 280px;
    }

    /* Estilo para o ícone SVG */
    .weather-icon {
        width: 25px;
        height: 25px;
        vertical-align: middle;
        margin-left: 5px;
        /* Torna o ícone branco para contrastar com o título azul */
    }
}