@media only screen and (min-width: 64em) {

    /* Position boxes over the hero image for desktop  */
    .data-section {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 280px;
    }

    .weather-section {
        position: absolute;
        bottom: 60px;
        right: 30px;
        width: 280px;
    }

    /* pseudo-elemento no desktop */
    .weather-title::after {
        width: 28px;
        height: 28px;
        
    }