@media only screen and (min-width: 64em) {

    /* Hidde the button menu on desktop */
    #menu {
        display: none;
    }

    /* It forces the list items to appear and be placed side by side. */
    .navigation {
        flex-direction: row;
        justify-content: center;
    }

    .navigation li {
        display: block;
        /* Ensures that links appear without requiring a click.Ensures that links appear without requiring a click. */
    }

    main {
        grid-template-columns: repeat(3, 1fr);
        /* 3 columns by print desktop */
        gap: 2rem;
    }

    h1 {
        font-size: 2.5rem;
    }
}